<app-menu></app-menu>
<section class="container py-4">
        <form>
            <article class="card rounded-0">
                <section class="card-header p-0">
                    <article class="bg-info text-white text-center py-2">
                        <h3>Contactenos</h3>
                        <p class="m-0"> ¿Tiene usted alguna pregunta? No dude en contactarnos directamente. 
                            Nuestro equipo se pondrá en contacto contigo en cuestión de horas para ayudarte.</p>
                    </article>
                </section>               
                <section class="card-body p-3 contact-form">
                    <label for="userName" class="form-label">Nombre</label>
                    <article class="form-group">
                        <section class="input-group mb-2">
                            <article class="input-group-prepend">
                                <section class="input-group-text"><i class="fa fa-user text-info"></i></section>
                            </article>                            
                            <input type="text" class="form-control" id="contactname" name="nombre" placeholder="Nombre y Apellido" required>
                        </section>
                    </article>

                    <label for="userName" class="form-label">Correo</label>
                    <article class="form-group">
                        <section class="input-group mb-2">
                            <article class="input-group-prepend">
                                <section class="input-group-text"><i class="fa fa-user text-info"></i></section>
                            </article>                            
                            <input type="email" class="form-control" id="contactemail" name="email" placeholder="ejemplo@gmail.com" required>
                        </section>
                    </article>

                    <label for="userName" class="form-label">Celular</label>
                    <article class="form-group">
                        <section class="input-group mb-2">
                            <article class="input-group-prepend">
                                <section class="input-group-text"><i class="fa fa-user text-info"></i></section>
                            </article>                            
                            <input type="tel" class="form-control" id="contactphone" name="phone" placeholder="Celular" required>
                        </section>
                    </article>

                    <label for="userName" class="form-label">Comentario</label>
                    <article class="form-group">
                        <section class="input-group mb-2">
                            <article class="input-group-prepend">
                                <section class="input-group-text"><i class="fa fa-user text-info"></i></section>
                            </article>                            
                            <textarea class="form-control" placeholder="Envianos tu Mensaje" required></textarea>
                        </section>
                    </article>

                    <article class="text-center">
                        <input type="submit" value="Enviar" class="btn btn-info rounded-0 py-2">
                    </article>
                </section>
            </article>
        </form>
</section>
<app-footer></app-footer>