<app-menu-login></app-menu-login>
<div class="container pt-5">
  <div class="card p-4">
    <form ngNativeValidate (ngSubmit)="registrar()">
      <div class="mb-3">
        <label for="userName" class="form-label">Name</label>
        <input
          [(ngModel)]="userInfo.userName"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          class="form-control"
          id="exampleUserName"
          aria-describedby="emailHelp"
        />
        <div *ngIf="userInfoValidator.userName" id="userNameHelp" class="form-text text-danger">
          UserName invalido.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          [(ngModel)]="userInfo.email"
          [ngModelOptions]="{ standalone: true }"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div *ngIf="userInfoValidator.email" id="emailHelp" class="form-text text-danger">
          Email invalido.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          [(ngModel)]="userInfo.password"
          [ngModelOptions]="{ standalone: true }"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
        <div *ngIf="userInfoValidator.password" id="passwordHelp" class="form-text text-danger">
          Contraseña invalida.
        </div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
