<app-menu></app-menu>
<section class="container mb-2">
    <h2 class="text-center pt-2">Characters of History</h2>
    <article class="row mb-2">
        <section class="col-sm-12 col-md-12 col-lg-6">
            <article class="card text-center art-characters">
                <img class="card-img-top img-characters" src="assets/images/frida.jpg" alt="imagen1"/>
                <section class="card-body">
                  <h5 class="card-title">Frida Kahlo</h5>
                  <p class="card-text">Magdalena Carmen Frida Kahlo Calderón fue una pintora mexicana.​ Su vida estuvo marcada por el infortunio de sufrir un grave accidente en su juventud que la mantuvo postrada en cama durante largos periodos, llegando a someterse hasta a 32 operaciones quirúrgicas.​ Llevó una vida poco convencional.​</p>
                </section>
              </article>
        </section>
        <section class="col-sm-12 col-md-12 col-lg-6">
            <article class="card text-center art-characters">
                <img class="card-img-top img-characters" src="assets/images/einstein.png" alt="imagen2"/>
                <section class="card-body">
                  <h5 class="card-title">Albert Einstein</h5>
                  <p class="card-text">Albert Einstein fue un físico alemán de origen judío, nacionalizado después suizo, austriaco y estadounidense. Se le considera el científico más importante, conocido y popular del siglo XX.​​</p>
                </section>
              </article>
        </section>
    </article>
    <article class="row">
        <section class="col-sm-12 col-md-12 col-lg-6">
            <article class="card text-center art-characters">
                <img class="card-img-top img-characters" src="assets/images/billgates.jpeg" alt="imagen3"/>
                <section class="card-body">
                  <h5 class="card-title">Bill Gates</h5>
                  <p class="card-text">William Henry Gates III, mejor conocido como Bill Gates, es un empresario, informático y filántropo estadounidense, conocido por haber creado y fundado junto con Paul Allen, la empresa Microsoft. De igual forma es conocido por haber creado, también con Paul Allen, el sistema operativo para computadoras Windows.</p>
                </section>
              </article>
        </section>
        <section class="col-sm-12 col-md-12 col-lg-6">
            <article class="card text-center art-characters">
                <img class="card-img-top img-characters" src="assets/images/hitler.jpg" alt="imagen4"/>
                <section class="card-body">
                  <h5 class="card-title">Adolf Hitler</h5>
                  <p class="card-text">Adolf Hitler, llamado también Adolfo Hitler​ en algunos países hispanos, fue un político, militar y dictador alemán de origen austrohúngaro.</p>
                </section>
              </article>
        </section>
    </article>
  </section>
  <app-footer></app-footer>